.file-comment{
    width: 100%;
    padding: .78571429em 1em;
    border: 1px solid rgba(34,36,38,.15);
    resize: vertical;
    color: rgba(0,0,0,.87);
    box-shadow: 0 0 0 0 transparent inset;
    transition: color .1s ease,border-color .1s ease;
    font-size: 1em;
    line-height: 1.2857;
    border-radius: 4px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.file-comment::placeholder {
    color: #C7C7C7;
}

.file-comment:focus::placeholder {
    color: #858599;
}

.file-comment::selection {
    background-color: #CCE2FF;
    color: #858599;
}